{% extends "base.html" %}

{% block content %}
<!--register page-->
    <h1>Register</h1>

    <form method="post">
        {{ form.hidden_tag() }} <!--hidden tag to prevent cyber attacks-->

<!--add username-->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
<!--add password-->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

<!--confirm password-->
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

<!--add reference to sign in page for registered users-->
    <p>
        Already have an account?
        <a href="{{ url_for('login') }}">Login here</a>
    </p>
{% endblock %}
